
<nav class="navbar navbar-toggleable-xl navbar-light bg-faded" style="margin-bottom: 10px;   
	 		box-shadow: 0 1px 2px rgba(0,0,0,0.16), 
	 		0 1px 2px rgba(0,0,0,0.23); padding-left: 5%; padding-right: 5%">
  
  <a [routerLink]="['recipes']" class="navbar-brand" style="font-size:1.5em; color:grey">RecipeBook</a>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <!-- In order to pull the items to right remove the next 2 lines -->
    <!-- </ul> -->
    <!-- <ul class="navbar-nav"> -->
        <li class="nav-item">
            <i (click)="onShoppingCart()" 
               (contextmenu)="onContextMenu($event,'null')"  
               class="material-icons nav-link">shopping_cart</i>
            <span *ngIf="cartLength > 0 " class="mdl-badge" 
               [attr.data-badge]="cartLength" 
               style="left:-20px; top:-10px"></span>
            <context-menu></context-menu>
        </li>
    </ul>
    <!-- </ul> -->
    <ul class="navbar-nav">
        <li class="nav-item">

          <button id="demo-menu-lower-right"
                  class="mdl-button mdl-js-button mdl-button--icon"  style="top:10px">
                <i *ngIf="!name" class="material-icons" style="color:grey">account_circle</i>
                <img *ngIf="name" [src]="photo" class="rounded-circle" style="width: 24px; height: 24px; top:-3px ; position: relative;" >
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="demo-menu-lower-right">
            <!-- <li class="mdl-menu__item" (click)="onSignUp()">Signup</li> -->
            <li *ngIf="!name" class="mdl-menu__item" (click)="onLogin()">Login</li>
            <li *ngIf="name" class="mdl-menu__item" (click)="onLogout()">Logout</li>
            <!-- <li disabled class="mdl-menu__item">Disabled Action</li> -->
          </ul>

        </li>
    </ul>

  </div>
</nav>


<router-outlet></router-outlet>
